<h1>アイデア管理所</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :category, id: "name", placeholder: 'カテゴリー', size: 15 %><br><br>
  <%= form.text_area :idea, id: "message", placeholder: 'アイデア', size: "48x5" %><br>
  <%= form.submit 'Submit' , id: "submit" %><br><br>
<% end %>

<div id="list">
</div>

<% @posts.each do |post|%>
  <div class="post" data-id = <%= post.id %> data-check=<%= post.checked %>>
    <span class="post-name">
      <%= post.name%>
    </span>
    <span class="post-date">
      <%= l post.created_at%>
    </span>
    <div class="post-message">
      <%= post.message%>
    </div>
  </div>
<% end %>
