<h1>⭐️２ちゃんねる掲示板⭐️</h1>
<div class="new">
<%= link_to "新規投稿ページ", 'posts/new'%><br><br>
</div>
<% @posts.each do |post|%>
  <div class="post">
    <span class="post-id">
      <%= post.id%>
    </span>
    <span class="post-name">
      <%= post.name%>
    </span>
    <span class="post-date">
      <%= l post.created_at%>
    </span>
    <div class="post-message">
      <%= post.message%>
    </div>
  </div>
<% end %>
